[Misc]
Name=KAlarm Event Serializer
Comment=An Akonadi serializer plugin for KAlarm events

[Plugin]
Type=application/x-vnd.kde.alarm,application/x-vnd.kde.alarm.active,application/x-vnd.kde.alarm.archived,application/x-vnd.kde.alarm.template
X-Akonadi-Class=default;KAlarmCal::KAEvent;
X-KDE-Library=akonadi_serializer_kalarm
X-KDE-ClassName=SerializerPluginKAlarm
