[Misc]
Name=KAlarm Event Serializer
Name[ar]=مُسلسِل «منبّهك» للأحداث
Name[bs]=KAlarm događajni serializer
Name[ca]=Serialitzador d'esdeveniments del KAlarm
Name[ca@valencia]=Serialitzador d'esdeveniments del KAlarm
Name[da]=Serieordning af KAlarm-hændelser
Name[de]=Kalarm Ereignis-Serialisierung
Name[el]=Σειριακοποιητής γεγονότων KAlarm
Name[en_GB]=KAlarm Event Serialiser
Name[es]=Serializador de eventos de KAlarm
Name[et]=KAlarmi sündmuste jadasti
Name[fi]=KAlarm-tapahtumasarjoittaja
Name[fr]=Sérialiseur d'évènements KAlarm
Name[ga]=Srathóir Imeachtaí KAlarm
Name[gl]=Serializador de eventos de KAlarm
Name[hu]=KAlarm eseménykezelő
Name[ia]=Divulgator partial de evento de KAlarm
Name[it]=Serializzatore degli eventi di KAlarm
Name[ja]=KAlarm イベント用シリアライザ
Name[kk]=KAlarm оқиғалар тізбектеуіші
Name[km]=កម្មវិធី​បោះពុម្ព​ព្រឹត្តិការណ៍ KAlarm
Name[ko]=KAlarm 이벤트 시리얼라이저
Name[lt]=KAlarm įvykių serializatorius
Name[lv]=KAlarm notikumu serializētājs
Name[nb]=KAlarm hendelsesserialisator
Name[nds]=KAlarm-Begeefnis-Reegmoduul
Name[nl]=KAlarm gebeurtenissen in volgorde zetten
Name[nn]=Serialisator for KAlarm-hendingar
Name[pa]=ਕੇਅਲਾਰਮ ਈਵੈਂਟ ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Szeregowanie zdarzeń KAlarm
Name[pt]=Serializador de Eventos do KAlarm
Name[pt_BR]=Serializador de eventos do KAlarm
Name[ru]=Сохранение событий KAlarm
Name[sk]=Serializátor udalostí KAlarm
Name[sl]=Razvrščevalnik dogodkov KAlarm v zaporedje
Name[sr]=Серијализатор К‑алармових догађаја
Name[sr@ijekavian]=Серијализатор К‑алармових догађаја
Name[sr@ijekavianlatin]=Serijalizator K‑alarmovih događaja
Name[sr@latin]=Serijalizator K‑alarmovih događaja
Name[sv]=Kalarm händelseserialisering
Name[tr]=KAlarm Olay Sıralandırıcı
Name[uk]=Серіалізатор подій KAlarm
Name[x-test]=xxKAlarm Event Serializerxx
Name[zh_CN]=KAlarm 事件序列器
Name[zh_TW]=KAlarm 事件序列器
Comment=An Akonadi serializer plugin for KAlarm events
Comment[ar]=ملحقة سَلسَلة «أكونادي» لأحداث «منبّهك»
Comment[bs]=Akonadi serializirajući dodatak za KAlarm događaje
Comment[ca]=Un connector de serialització de l'Akonadi pels esdeveniments del KAlarm
Comment[ca@valencia]=Un connector de serialització de l'Akonadi pels esdeveniments del KAlarm
Comment[da]=Et Akonadi-plugin til serieordning af KAlarm-hændelser
Comment[de]=Akonadi-Modul zur Serialisierung von KAlarm-Ereignissen
Comment[el]=Ένα πρόσθετο σειριακοποιητή Akonadi για γεγονότα KAlarm
Comment[en_GB]=An Akonadi serialiser plugin for KAlarm events
Comment[es]=Un complemento serializador de Akonadi para eventos de KAlarm
Comment[et]=Akonadi KAlarmi sündmuste jadastamisplugin
Comment[fi]=Akonadi-sarjoitusliitännäinen KAlarmin tapahtumille
Comment[fr]=Un module externe Akonadi pour la sérialisation des évènements KAlarm
Comment[ga]=Breiseán srathóra Akonadi le haghaidh imeachtaí KAlarm
Comment[gl]=Un complemento serializador de Akonadi para os eventos de KAlarm
Comment[hu]=Akonadi modul KAlarm események kezeléséhez
Comment[ia]=Un plug-in de Akonadi pro divulgar partialmente eventos de alarmas in KAlarm
Comment[it]=Un'estensione di Akonadi per la serializzazione di eventi di KAlarm
Comment[ja]=KAlarm のイベントのための Akonadi シリアライザプラグイン
Comment[kk]=KAlarm оқиғалардың Akonadi тізбектеуіш плагині
Comment[km]=កម្មវិធី​ជំនួយ​​របស់​កម្មវិធី​បោះពុម្ព Akonadi សម្រាប់​ព្រឹត្តិការណ៍ KAlarm
Comment[ko]=KAlarm 이벤트를 위한 Akonadi 시리얼라이저 플러그인
Comment[lt]=Akonadi serializatoriaus papildinys KAlarm įvykiai
Comment[lv]=Akonadi KAlarm notikumu serializēšanas spraudnis
Comment[nb]=Et Akonadi programtillegg for serialisering av KAlarm-hendelser
Comment[nds]=Akonadi-Inreegmoduul för KAlarm-Begeefnissen
Comment[nl]=Een Akonadi-plugin voor het in volgorde zetten van KAlarm gebeurtenissen
Comment[nn]=Eit Akonadi-serialisatortillegg for KAlarm-hendingar
Comment[pl]=Wtyczka Akonadi do szeregowania zdarzeń KAlarm
Comment[pt]=Um 'plugin' de serialização do Akonadi para os eventos do KAlarm
Comment[pt_BR]=Um plugin de serialização do Akonadi para eventos do KAlarm
Comment[ru]=Модуль Akonadi сохранения событий KAlarm
Comment[sk]=Plugin serializátora Akonadi pre udalosti KAlarm
Comment[sl]=Akonadijev vstavek za razvrščanje predmetov dogodkov KAlarm v zaporedje
Comment[sr]=Аконадијев прикључак серијализатора за К‑алармове догађаје
Comment[sr@ijekavian]=Аконадијев прикључак серијализатора за К‑алармове догађаје
Comment[sr@ijekavianlatin]=Akonadijev priključak serijalizatora za K‑alarmove događaje
Comment[sr@latin]=Akonadijev priključak serijalizatora za K‑alarmove događaje
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av Kalarm-händelser
Comment[tr]=KAlarm olayları için bir Akonadi sıralandırıcısı
Comment[uk]=Додаток серіалізації Akonadi для подій KAlarm
Comment[x-test]=xxAn Akonadi serializer plugin for KAlarm eventsxx
Comment[zh_CN]=用于操作 KAlarm 事件的 Akonadi 序列插件
Comment[zh_TW]=KAlarm 事件使用的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.alarm,application/x-vnd.kde.alarm.active,application/x-vnd.kde.alarm.archived,application/x-vnd.kde.alarm.template
X-Akonadi-Class=default;KAlarmCal::KAEvent;
X-KDE-Library=akonadi_serializer_kalarm
X-KDE-ClassName=SerializerPluginKAlarm
