# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KAlarm
Name[x-test]=xxKAlarmxx
Type=Application
Exec=kalarm -caption "%c" %i
Icon=kalarm
DocPath=kalarm/index.html
GenericName=Personal Alarm Scheduler
GenericName[x-test]=xxPersonal Alarm Schedulerxx
Terminal=false
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
