# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KAlarm
Name[af]=K-alarm
Name[bg]=Аларма
Name[cy]=KLarwm
Name[eo]=Alarmilo
Name[hi]=के-अलार्म
Name[ko]=KDE 알람
Name[mk]=Роковник
Name[nso]=KAlamo
Name[pl]=Alarm
Name[sv]=Kalarm
Name[ta]=Kஅலாரம்
Name[th]=เตือนการนัดหมาย - K
Name[ven]=Alamu ya K
Exec=kalarm --tray
Icon=kalarm
Type=Application
DocPath=kalarm/index.html
Comment=Personal Alarm Scheduler: start as system tray icon
Comment[ar]=شغل المنبه الشخصي : شغل كأيقونية في علبة النظام
Comment[bg]=Аларма: стартиране като икона в системния панел
Comment[bs]=Lični alarm: pokreni kao ikonu u panelu
Comment[ca]=Planificador d'alarma personal; s'inicia com a una icona a la safata del sistema
Comment[cs]=Plánovač alarmů a připomenutí: spustit v systémové liště
Comment[cy]=Trefnlennydd Larwm Personol: cychwynnwch fel eicon yn y cafn cysawd
Comment[da]=Skemalægger personli alarm: start som statusikon.
Comment[de]=Erinnerungsfunktion im Systemabschnitt der Kontrollleiste
Comment[el]=Προσωπικός προγραμματιστής συναγερμού: εκκίνηση σαν εικονίδιο στο πλαίσιο συστήματος
Comment[es]=Programador de alarma personal: comenzar como icono de la bandeja del sistema
Comment[et]=Häirete ja meeldetuletuste ajakava: käivitamine süsteemse doki ikoonina
Comment[fi]=Henkilökohtainen hälytysajastin: käynnistä paneelikuvake
Comment[fr]=Planificateur d'alarme personnel : démarre dans la boîte à miniatures
Comment[he]=מתזמן הודעות תזכורת: הפעלה בתור סמל במגש המערכת
Comment[hi]=निजी अलार्म शेड्यूलरः तंत्र तश्तरी प्रतीक की तरह प्रारंभ हों
Comment[hu]=Az emlékeztető üzenetek megjelenítőprogramja: indítás a paneltálcában
Comment[is]=Áminningakerfi: ræsir sem táknmynd á spjaldinu
Comment[it]=Programmatore personale degli avvisi: all'avvio si mette nel vassoio di sistema
Comment[ja]=個人アラームスケジューラ起動: システムトレイアイコンで起動
Comment[nb]=Tidsplanlegger for alarm- og påminnelsesbeskjeder: start som ikon i systemkurven
Comment[nl]=Persoonlijke alarmplanner: opstarten in systeemvak
Comment[nn]=Personleg alarmplanleggjar. Start som ikon i systemtrauet
Comment[pl]=Program przypominający o zdarzeniach: startuje w tacce systemowej
Comment[pt]=Escalonador de Alarmes Pessoal: iniciar como ícone da bandeja
Comment[pt_BR]=Agendador de Alarme Pessoal: iniciar como um ícone na bandeja do sistema
Comment[ru]=Персональный будильник (запускается в виде пиктограммы в панели задач)
Comment[sk]=Osobný plánovač alarmov: spustiť v systémovej lište
Comment[sl]=Razporejevalnik osebnih alarmov: zaženi kot ikono sistemske vrstice
Comment[sr]=Лични планер аларма: покреће се као икона у системској касети
Comment[sr@Latn]=Lični planer alarma: pokreće se kao ikona u sistemskoj kaseti
Comment[sv]=Personlig alarmschemaläggare: starta som en ikon i systembrickan
Comment[ta]=Personal Alarm Scheduler: கணினி தட்டு சின்னமாக துவங்கு
Comment[tg]=Соати рӯимизии зангдори шахсӣ (ба намуди ишорот дар панели вазифа ба кор дароварда мешавад)
Comment[tr]=Kişisel Alarm Zamanlayıcı
Comment[uk]=Персональний планувальник нагадувань: стартує як піктограма в лотку
Comment[zh_CN]=个人日程提醒程序：以系统托盘图标启动
Terminal=false
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmrc:General:AutostartTray:false
