# KDE Config File
[Desktop Entry]
Name=KAlarm
Name[af]=K-alarm
Name[bg]=Аларма
Name[cy]=KLarwm
Name[eo]=Alarmilo
Name[mk]=КАларм
Name[ne]=केडीई संसूचक
Name[pa]=ਕੇ-ਅਲਾਰਮ
Name[pl]=Alarm
Name[sv]=Kalarm
Name[ta]=Kஅலாரம்
Name[x-test]=xxKAlarmxx
Name[zh_TW]=KAlarm 鬧鐘
Exec=kalarmautostart kalarm --tray
Icon=kalarm
Type=Application
X-DocPath=kalarm/index.html
Comment=KAlarm autostart at login
Comment[bg]=Автоматично стартиране на KAlarm при влизане
Comment[ca]=Inici automàtic del KAlarm en connectar-se
Comment[da]=Autostart KAlarm ved login
Comment[de]=Autostart von KAlarm bei der Anmeldung
Comment[el]=Αυτόματη εκκίνηση KAlarm κατά τη σύνδεση
Comment[es]=Inicio automático de KAlarm al iniciar sesión
Comment[et]=KAlarmi automaatne käivitamine sisselogimisel
Comment[fr]=Démarrage à la connexion de KAlarm
Comment[ga]=Tosaigh KAlarm go huathoibríoch ag am logála isteach
Comment[gl]=Inicio automático do KAlarm
Comment[it]=Avvio automatico di KAlarm all'accesso
Comment[ja]=ログイン時に KAlarm を自動起動
Comment[km]=ចាប់ផ្ដើម KAlarm ដោយ​ស្វ័យប្រវត្តិ​នៅពេល​ចូល
Comment[ko]=로그인할 때 KAlarm 시작하기
Comment[lt]=KAlarm paleidimas automatiškai prisiregistravimo metu
Comment[lv]=KAlarm automātiska palaišana pieslēdzoties
Comment[nb]=KAlarm autostart ved innlogging
Comment[nds]=KAlarm bi't Anmellen automaatsch starten
Comment[nl]=KAlarm automatisch starten bij login
Comment[nn]=Start automatisk KAlarm ved innlogging
Comment[pa]=ਲਾਗਇਨ ਉੱਤੇ ਕੇ-ਅਲਾਰਮ ਆਟੋ-ਸਟਾਰਟ
Comment[pl]=Automatyczne uruchamianie KAlarmu po zalogowaniu
Comment[pt]=Arranque automático do KAlarm no início
Comment[pt_BR]=Iniciar o KAlarm automaticamente na inicialização
Comment[ru]=Запуск KAlarm при запуске сеанса KDE
Comment[sl]=Samodejni zagon KAlarma ob prijavi
Comment[sv]=Automatisk start av Kalarm vid inloggning
Comment[tr]=Açılışta KAlarm servisini başlat
Comment[uk]=Автозапуск після входу KAlarm
Comment[x-test]=xxKAlarm autostart at loginxx
Comment[zh_CN]=登录时自动启动 KAlarm
Comment[zh_TW]=KAlarm 登入時自動啟動
Terminal=false
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmrc:General:AutoStart:false
