# KDE Config File
[Desktop Entry]
Name=KAlarm
Name[fr]=Alarme
Name[ko]=KDE 알람
Name[sv]=Kalarm
Name[xx]=xx
Type=Application
Exec=kalarm -caption "%c" %i
Icon=kalarm
DocPath=kalarm/index.html
Comment=Alarm/reminder message scheduler
Comment[ar]=Alarm/مذكر مجدول لرسائل
Comment[az]=Alarm/yadasalan ismarış vaxtlaşdırıcı/r
Comment[da]=Alarm/påminder besked-skemalægg
Comment[de]=Wecker, Erinnerer, Nachrichtenanzeiger
Comment[es]=Programador de mensaje de recuerdo/alarma
Comment[fr]=Une alarme programmable
Comment[he]=מתזמן תזכורות והודעות
Comment[is]=Vekjari/minnisatriðastjóri
Comment[lv]=Trauksmes/atgādinājumu ziņojumu plānotājs
Comment[nl]=agenda voor alarm/herrinneringsmeldingen
Comment[pt]=Escalonador de mensagens de compromissos/alarme
Comment[pt_BR]=Escalonador de mensagens de compromissos/alarme
Comment[sk]=Plánovač alarmov a pripomenutí
Comment[sl]=Razorejevalnik sporočil alarma in opomnika
Comment[sv]=Schemaläggare för alarm- och påminnelsemeddelanden
Comment[xh]=Alarm/rumkhumbuzi womcwangcisi womyalezo
Comment[xx]=xx
Comment[zh_TW]=警示/提醒訊息排程器
Comment[zu]=I alamu/inkumbuzo yomlayezo kumgcini sikhathi
Terminal=0
X-DCOP-ServiceType=Unique
