<!DOCTYPE kpartgui>
<kpartgui name="kalarm" version="195" >
 <ToolBar noMerge="1" name="mainToolBar" >
  <Action name="newDisplay" />
  <Action name="newCommand" />
  <Action name="newEmail" />
  <Action name="newFromTempl" />
  <Separator/>
  <Action name="copy" />
  <Action name="modify" />
  <Action name="delete" />
  <Separator/>
  <Action name="showResources" />
  <Separator />
  <Action name="edit_undo" />
  <Action name="edit_redo" />
  <Separator />
  <Action name="edit_find"/>
 </ToolBar>
 <MenuBar>
  <Menu name="file" >
   <text>&amp;File</text>
   <Action name="templates" />
   <Action name="importAlarms" />
   <Action name="importBirthdays" />
  </Menu>
  <Menu name="view" >
   <text>&amp;View</text>
   <Action name="showAlarmTimes" />
   <Action name="showTimeToAlarms" />
   <Separator/>
   <Action name="showArchivedAlarms" />
   <Action name="showInSystemTray" />
   <Action name="showResources" />
   <Separator/>
   <Action name="spread" />
  </Menu>
  <Menu name="actions" >
   <text>&amp;Actions</text>
   <Action name="new" />
   <Action name="newFromTempl" />
   <Action name="copy" />
   <Action name="modify" />
   <Action name="delete" />
   <Action name="undelete" />
   <Action name="disable" />
   <Action name="createTemplate" />
   <Separator/>
   <Action name="alarmsEnable" />
   <Action name="refreshAlarms" />
  </Menu>
  <Menu noMerge="1" name="settings" >
   <text>&amp;Settings</text>
   <Merge name="StandardToolBarMenuHandler" />
   <Separator/>
   <Action name="options_configure_keybinding" />
   <Action name="options_configure_toolbars" />
   <Action name="options_configure" />
  </Menu>
 </MenuBar>
 <Menu name="listContext" >
  <Action name="new" />
  <Action name="newFromTempl" />
  <Action name="copy" />
  <Action name="modify" />
  <Action name="delete" />
  <Action name="undelete" />
  <Action name="disable" />
  <Action name="createTemplate" />
 </Menu>
 <Menu name="resourceContext" >
  <Action name="resReload" />
  <Action name="resSave" />
  <Separator/>
  <Action name="resDetails" />
  <Action name="resEdit" />
  <Action name="resRemove" />
  <Action name="resDefault" />
  <Separator/>
  <Action name="resSetColour" />
  <Action name="resClearColour" />
  <Separator/>
  <Action name="resAdd" />
  <Action name="resImport" />
 </Menu>
</kpartgui>
