# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KAlarm
Name[af]=K-alarm
Name[eo]=Alarmilo
Name[ko]=KDE 알람
Name[nso]=KAlamo
Name[pl]=Alarm
Name[sv]=Kalarm
Name[th]=เตือนการนัดหมาย - K
Name[ven]=Alamu ya K
Name[xx]=xxKAlarmxx
Exec=kalarm --tray
Icon=kalarm
Type=Application
DocPath=kalarm/index.html
Comment=Alarm/reminder message scheduler: start as system tray icon
Comment[af]=Alarm/herhindering boodskap skeduleerder: begin as stelsel laai ikoon
Comment[ar]=Alarm/مذكر مجدول لرسائل: تشغيل كإيقونة صينية النظام
Comment[bs]=Zakazivanje alarma i podsjetnika: pokreće se kao ikona u system trayu
Comment[ca]=Planificador de missatges d'alarma i avís; s'inicia com a una icona a la safata del sistema
Comment[cs]=Plánovač alarmů a připomenutí: spustit v systémové liště
Comment[da]=Skemalægger af alarm-/påmindelsesbeskeder: start som statusikon.
Comment[de]=Erinnerungsfunktion im Systembereich der Kontrollleiste
Comment[el]=Προγραμματιστής μηνυμάτων ειδοποίησης: εκκίνηση σαν εικονίδιο στο πλαίσιο συστήματος 
Comment[eo]=Alarmilo kaj memorilo: lanĉu kiel aplikaĵeto
Comment[es]=Programador de mensaje de alarma/recuerdo del programador de tareas: iniciar como icono de bandeja del sistema
Comment[et]=Häirete ja meeldetuletuste ajakava: käivitamine süsteemse doki ikoonina
Comment[eu]=Alarma/oroitarazgailu mezu kudeatzailea: sitemaren ikono erretilu bezala hasi
Comment[fi]=Hälytys/muistutusviestien ajastin: käynnistä paneelikuvake
Comment[fr]=Une alarme programmable : elle se place dans la boîte à miniatures au démarrage
Comment[he]=מתזמן הודעות תזכורת: הפעלה בתור סמל במגש המערכת
Comment[hr]=Podsjetnik koji se javlja u određeno vrijeme; počinje u sistemskoj ladici
Comment[hu]=Emlékeztető/figyelmeztető szolgáltatás: indítás a paneltálcában
Comment[it]=Un promemoria programmabile: all'avvio si mette nel pannello
Comment[ja]=アラーム/確認メッセージスケジューラ: システムトレイアイコンで起動
Comment[lt]=Žinučių-priminimų planuoklis: paleisti kaip sisteminio dėklo piktogramą
Comment[lv]=Trauksmes/atgādinājumu ziņojumu plānotājs: sāknēt kā sistēmas teknes ikonu
Comment[nb]=Tidsplanlegger for alarm- og påminnelsesbeskjeder: start som ikon i systemkurven
Comment[nl]=Agenda voor berichtenherinneringen: start op als systeemvakpictogram
Comment[nn]=Planleggjar for alarmar/påminningsmeldingar. Start som ikon i systemtrauet
Comment[nso]=Mmeakanyi wa molaetsa wa alamo/segopotsi: thomisa bjalo ka seemedi sa tray ya system
Comment[pl]=Nastawianie alarmu/przypominania o zdarzeniach: startuje w tacce systemowej
Comment[pt]=Escalonador de mensagens de compromissos: iniciar como ícone da bandeja
Comment[pt_BR]=Agenda/alarme de mensagens: inicia como um ícone do sistema
Comment[ro]=Planificator amintire mesaje (porneşte în tava de sistem)
Comment[ru]=Служба напоминания о событиях/будильник (запускается в виде пиктограммы в панели задач)
Comment[sk]=Plánovač alarmov a pripomenutí: spustiť v systémovej lište
Comment[sl]=Razporejevalnik sporočil alarma in opomnika; zažene se kot sistemska ikona
Comment[sr]=Аларм/подсетник распоређивач порука: покреће се као икона у системској касети
Comment[sv]=Schemaläggare för alarm- och påminnelsemeddelanden: starta som en ikon i systembrickan
Comment[th]=เครื่องมือเตือนการนัดหมาย: เริ่มทำงานแบบไอคอนในถาดงานของระบบ
Comment[tr]=Alarm/hatırlatıcı ileti zamanlayıcı: sistem tablosu simgesi olarak başlat
Comment[uk]=Планувальник нагадування/сигналізації про повідомлення: стартує як піктограма в лотку
Comment[ven]=Alamu/Tshihumbudzi tsha mulaedza: thoma sa aikhono ya tirei ya sisitemu
Comment[vi]=Alarm/reminder message scheduler: bắt đầu vào tray icon hệ thống
Comment[xh]=Alamu/umkhumbuzi omcwangcisi womyalezo: uqala njenge phawu lemifanekiso letreyi yomatshini
Comment[xx]=xxAlarm/reminder message scheduler: start as system tray iconxx
Comment[zh_CN]=定时/备忘信件计划程序：以系统托盘图标启动
Comment[zh_TW]=警示/提醒訊息排程器：以系統列圖示的方式啟動
Comment[zu]=I alamu/inkumbuzo yomlayezo kumgcini sikhathi: qala njengesistimu yetreyi le icon
Terminal=false
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmrc:General:AutostartTray:false
