<!DOCTYPE kpartgui>
<kpartgui name="kalarm" >
 <ToolBar noMerge="1" name="main" >
  <Action name="new" />
  <Action name="newFromTempl" />
  <Action name="copy" />
  <Action name="modify" />
  <Action name="delete" />
  <Action name="view" />
 </ToolBar>
 <MenuBar>
  <Menu name="file" >
   <text>&amp;File</text>
   <Action name="templates" />
   <Action name="importBirthdays" />
  </Menu>
  <Menu name="view" >
   <text>&amp;View</text>
   <Action name="showAlarmTimes" />
   <Action name="showTimeToAlarms" />
   <Separator/>
   <Action name="showExpiredAlarms" />
   <Action name="showInSystemTray" />
  </Menu>
  <Menu name="actions" >
   <text>&amp;Actions</text>
   <Action name="new" />
   <Action name="newFromTempl" />
   <Action name="copy" />
   <Action name="modify" />
   <Action name="delete" />
   <Action name="undelete" />
   <Action name="view" />
   <Action name="disable" />
   <Action name="createTemplate" />
   <Separator/>
   <Action name="alarmEnable" />
   <Action name="refreshAlarms" />
  </Menu>
  <Menu noMerge="1" name="settings" >
   <text>&amp;Settings</text>
   <Merge name="StandardToolBarMenuHandler" />
   <Separator/>
   <Action name="options_configure_keybinding" />
   <Action name="options_configure_toolbars" />
   <Action name="options_configure" />
  </Menu>
 </MenuBar>
 <Menu name="listContext" >
  <Action name="new" />
  <Action name="newFromTempl" />
  <Action name="copy" />
  <Action name="modify" />
  <Action name="delete" />
  <Action name="undelete" />
  <Action name="view" />
  <Action name="disable" />
  <Action name="createTemplate" />
 </Menu>
 <ActionProperties/>
</kpartgui>
