# KDE Config File
[Desktop Entry]
Name=KAlarm
Name[fr]=Alarme
Name[ko]=KDE 알람
Name[sv]=Kalarm
Name[xx]=xx
Type=Application
Exec=kalarm --tray
Icon=kalarm
Type=Application
DocPath=kalarm/index.html
Terminal=false
X-DCOP-ServiceType=Unique
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kalarmrc:General:AutostartTray:true
