[Desktop Entry]
Name=KAlarm Directory
Name[en_GB]=KAlarm Directory
Comment=Loads data from a local KAlarm folder
Comment[en_GB]=Loads data from a local KAlarm folder
Type=AkonadiResource
Exec=akonadi_kalarm_dir_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarm,application/x-vnd.kde.alarm.active,application/x-vnd.kde.alarm.archived,application/x-vnd.kde.alarm.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_dir_resource
X-Akonadi-LaunchMethod=AgentServer
