[Desktop Entry]
Name=KAlarm Directory
Name[de]=KAlarm-Ordner
Name[en_GB]=KAlarm Directory
Name[es]=Directorio de KAlarm
Name[et]=KAlarmi kataloog
Name[fr]=Dossier KAlarm
Name[gl]=Directorio de KAlarm
Name[ia]=Directorio de KAlarm
Name[it]=Directory KAlarm
Name[ja]=KAlarm ディレクトリ
Name[lt]=KAlarm aplankas
Name[nb]=KAlarm-mappe
Name[nl]=KAlarm-map
Name[pt]=Pasta do KAlarm
Name[pt_BR]=Pasta do KAlarm
Name[sv]=Kalarm-katalog
Name[tr]=KAlarm dizini
Name[uk]=Каталог KAlarm
Name[x-test]=xxKAlarm Directoryxx
Name[zh_TW]=KAlarm 目錄
Comment=Loads data from a local KAlarm folder
Comment[de]=Laden von Daten aus einem lokalen KAlarm-Ordner
Comment[en_GB]=Loads data from a local KAlarm folder
Comment[es]=Carga datos de una carpeta local de KAlarm
Comment[et]=Andmete laadimine kohalikust KAlarmi kataloogist
Comment[fr]=Charge des données d'un dossier local KAlarm
Comment[gl]=Carga datos desde un cartafol local de KAlarm
Comment[ia]=Carga datos ex un dossier local de KAlarm
Comment[it]=Carica dati da una cartella locale KAlarm
Comment[ja]=ローカルの KAlarm フォルダからデータを読み込みます
Comment[lt]=Įkelia duomenis iš vietinio KAlarm aplanko
Comment[nb]=Laster data fra en lokal KAlarm-mappe
Comment[nl]=Laadt gegevens uit een lokale KAlarm-map
Comment[pt]=Carrega os dados de uma pasta local do KAlarm
Comment[pt_BR]=Carrega os dados de uma pasta local do KAlarm
Comment[sv]=Laddar data från en lokal Kalarm-katalog
Comment[tr]=KAlarm dizininden veri yükler
Comment[uk]=Завантажує дані з локальної теки KAlarm
Comment[x-test]=xxLoads data from a local KAlarm folderxx
Comment[zh_TW]=從本地 KAlarm 目錄中載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_dir_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarm,application/x-vnd.kde.alarm.active,application/x-vnd.kde.alarm.archived,application/x-vnd.kde.alarm.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_dir_resource
X-Akonadi-LaunchMethod=AgentServer
