[Desktop Entry]
Name=KAlarm Directory
Name[ca]=Directori del KAlarm
Name[ca@valencia]=Directori del KAlarm
Name[cs]=Adresář KAlarmu
Name[da]=KAlarm-mappe
Name[de]=KAlarm-Ordner
Name[en_GB]=KAlarm Directory
Name[es]=Directorio de KAlarm
Name[et]=KAlarmi kataloog
Name[fi]=KAlarm-kansio
Name[fr]=Dossier KAlarm
Name[gl]=Directorio de KAlarm
Name[ia]=Directorio de KAlarm
Name[it]=Directory KAlarm
Name[ja]=KAlarm ディレクトリ
Name[kk]=KAlarm каталогы
Name[km]=ថត KAlarm
Name[lt]=KAlarm aplankas
Name[nb]=KAlarm-mappe
Name[nds]=KAlarm-Verteken
Name[nl]=KAlarm-map
Name[pl]=Katalog KAlarm
Name[pt]=Pasta do KAlarm
Name[pt_BR]=Pasta do KAlarm
Name[ro]=Directoriu KAlarm
Name[sl]=Mapa KAlarma
Name[sr]=Фасцикла К‑аларма
Name[sr@ijekavian]=Фасцикла К‑аларма
Name[sr@ijekavianlatin]=Fascikla K‑alarma
Name[sr@latin]=Fascikla K‑alarma
Name[sv]=Kalarm-katalog
Name[tr]=KAlarm Dizini
Name[uk]=Каталог KAlarm
Name[x-test]=xxKAlarm Directoryxx
Name[zh_TW]=KAlarm 目錄
Comment=Loads data from a local KAlarm folder
Comment[ca]=Carregar dades des d'una carpeta local del KAlarm
Comment[ca@valencia]=Carregar dades des d'una carpeta local del KAlarm
Comment[da]=Indlæser data fra en lokal KAlarm-mappe
Comment[de]=Laden von Daten aus einem lokalen KAlarm-Ordner
Comment[en_GB]=Loads data from a local KAlarm folder
Comment[es]=Carga datos de una carpeta local de KAlarm
Comment[et]=Andmete laadimine kohalikust KAlarmi kataloogist
Comment[fi]=Noutaa tietoa paikallisesta KAlarm-kansiosta
Comment[fr]=Charge des données d'un dossier local KAlarm
Comment[gl]=Carga datos desde un cartafol local de KAlarm
Comment[ia]=Carga datos ex un dossier local de KAlarm
Comment[it]=Carica dati da una cartella locale KAlarm
Comment[ja]=ローカルの KAlarm フォルダからデータを読み込みます
Comment[kk]=Жергілікті KAlarm қапшығынан деректі алып береді
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ថត KAlarm មូលដ្ឋាន
Comment[lt]=Įkelia duomenis iš vietinio KAlarm aplanko
Comment[nb]=Laster data fra en lokal KAlarm-mappe
Comment[nds]=Laadt Daten ut en lokaal KAlarm-Orner
Comment[nl]=Laadt gegevens uit een lokale KAlarm-map
Comment[pl]=Wczytuje dane z lokalnego katalogu KAlarm
Comment[pt]=Carrega os dados de uma pasta local do KAlarm
Comment[pt_BR]=Carrega os dados de uma pasta local do KAlarm
Comment[ro]=Încarcă date dintr-un dosar KAlarm
Comment[sl]=Naloži podatke is krajevne mape KAlarma
Comment[sr]=Учитава податке из локалне фасцикле К‑аларма
Comment[sr@ijekavian]=Учитава податке из локалне фасцикле К‑аларма
Comment[sr@ijekavianlatin]=Učitava podatke iz lokalne fascikle K‑alarma
Comment[sr@latin]=Učitava podatke iz lokalne fascikle K‑alarma
Comment[sv]=Laddar data från en lokal Kalarm-katalog
Comment[tr]=Yerel KAlarm klasöründen veri yükler
Comment[uk]=Завантажує дані з локальної теки KAlarm
Comment[x-test]=xxLoads data from a local KAlarm folderxx
Comment[zh_TW]=從本地 KAlarm 目錄中載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_dir_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarm,application/x-vnd.kde.alarm.active,application/x-vnd.kde.alarm.archived,application/x-vnd.kde.alarm.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_dir_resource
X-Akonadi-LaunchMethod=AgentServer
