# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Alarm Daemon
Name[af]=Alarm Bediener
Name[ar]=مراقب Alarm
Name[bg]=Демон на алармата
Name[br]=Diaoul Alarm
Name[bs]=Alarm demon
Name[ca]=Dimoni d'alarma
Name[cs]=Alarm démon
Name[cy]=Ellyll Larwm
Name[da]=Alarmdæmon
Name[de]=Erinnerungsfunktion
Name[el]=Δαίμονας συναγερμού
Name[eo]=Alarmodemono
Name[es]=Demonio de Alarma
Name[et]=Häiredeemon
Name[eu]=Alarma Demonioa
Name[fi]=Hälytyspalvelin
Name[fr]=Démon d'alarme
Name[he]=תהליך הרקע תזכורות
Name[hi]=अलार्म डेमन
Name[hu]=Emlékeztető szolgáltatás
Name[is]=Áminningaþjónn
Name[it]=Demone degli avvisi
Name[ja]=アラームデーモン
Name[lt]=Aliarmų tarnyba
Name[lv]=Trauksmes Dēmons
Name[ms]=Daemon Jam Loceng
Name[mt]=Programm tal-allarmi
Name[nb]=Alarmnisse
Name[nl]=Alarmdaemon
Name[nn]=Alarmdemon
Name[nso]=Daemon ya Alamo
Name[pl]=Demon alarmowy
Name[pt]=Servidor de Alarme
Name[pt_BR]=Servidor de Alarme
Name[ro]=Demon de alarmare
Name[ru]=Демон будильника
Name[sk]=Alarm démon
Name[sl]=Alarmski strežnik
Name[sr]=Алармни демон
Name[sr@Latn]=Alarmni demon
Name[sv]=Alarmdemon
Name[ta]=டெமான் அலாரம்
Name[tg]=Демони соати рӯимизии зангдор
Name[th]=เซิร์ฟเวอร์ Alarm
Name[tr]=Alarm Programı
Name[uk]=Демон нагадувань
Name[xx]=xxAlarm Daemonxx
Name[zh_CN]=定时守护进程
Name[zh_TW]=警示伺服程式
Name[zu]=Alarm daemon
Exec=kalarmd --login
Icon=kalarmd
Type=Application
Comment=KAlarm alarm daemon autostart at login
Comment[af]=K-alarm alarm bediener outomatiese begin na aanteken
Comment[ar]=مراقب تنبيهات KAlarm يبدؤون آليا عند بدء التشغيل
Comment[az]=KAlarm alarm demonunun başlanğıcda avtomatik dövrəyə girməsi
Comment[bg]=Автоматично стартиране на демона на алармата за KAlarm при включване в системата
Comment[bs]=Automatsko pokretanje KAlarm alarm demona prilikom prijave
Comment[ca]=Dimoni d'inici automàtic de l'alarma KAlarm a l'entrar
Comment[cs]=Automatické spouštění alarmovacího démona pro KAlarm při startu
Comment[cy]=Cychwyn yr ellyll larwm KTrefnydd/KLarwm yn ymysgogol wrth fewngofnodi
Comment[da]=KAlarm-alarmdæmon autostart ved login
Comment[de]=Autostart der Erinnerungsfunktion von KAlarm bei der Anmeldung
Comment[el]=Αυτόματη εκκίνηση του δαίμονα συναγερμού KAlarm κατά τη σύνδεση
Comment[eo]=Aŭtomata lanĉo de Alarmodemono por Organizilo je saluto
Comment[es]=Demonio de inicio automático de alarma KAlarm al acceder
Comment[et]=KAlarmi häiredeemoni automaatne käivitamine
Comment[eu]=KAlarm alarma demonioa autohasi login egiterakoan
Comment[fi]=KAlarm hälytyspalvelimen automaattikäynnistys sisäänkirjautuessa
Comment[fr]=Le démon d'alarme de KAlarm démarre automatiquement lors de la connexion
Comment[he]=הפעלה אוטומטית של תהליך הרקע תזכורות של KAlarm בעת ההפעלה
Comment[hi]=के-ऑर्गेनाइज़र/के-अलार्म अलार्म डेमन लॉगइन पर स्वतः प्रारंभ हो
Comment[hr]=KAlarm alarm daemon automatsko pokretanje kod prijave
Comment[hu]=A KAlarm emlékeztető szolgáltatás automatikus indítása
Comment[is]=Ræsa KSkipulag/KAlarm áminningaþjónn sjálfkrafa við byrjun lotu
Comment[it]=Avvio automatico all'inizio della sessione del demone degli avvisi di KAlarm
Comment[ja]=ログイン時の KAlarm アラームデーモンの自動起動
Comment[lt]=KAlarm aliarmų tarnybos automatinis paleidimas prisiregistruojant
Comment[lv]=KAlarm trauksmes dēmona autostarts pie pieteikšanās
Comment[mt]=Ħaddem il-programm tal-allarmi malli tidħol
Comment[nb]=KAlarm-alarmnisse autostarter ved innlogging
Comment[nl]=Kalarm alarmdaemon automatisch starten bij login
Comment[nn]=Autostart av alarm-demon for KAlarm ved innlogging
Comment[nso]=Thomiso yago itirisa ya daemon ya alamo ya KMokgokaganyi/KAlamo gotseneng
Comment[pl]=Demon alarmowy KAlarm startujący po zalogowaniu
Comment[pt]=Servidor de alarme do KAlarm auto-iniciável no arranque
Comment[pt_BR]=Servidor de alarme do KAlarm inicia automaticamente no login
Comment[ro]=Demon de alarmare KAlarm executat la pornire
Comment[ru]=Службы KAlarm запускаются вместе с KDE
Comment[sk]=Automatické spustenie alarm démona pre KAlarm pri štarte
Comment[sl]=Samodejni zagon alarmskega strežnika za KAlarm
Comment[sr]=KAlarm алармни демон се покреће по пријављивању
Comment[sr@Latn]=KAlarm alarmni demon se pokreće po prijavljivanju
Comment[sv]=Korganizer/Kalarm-alarmdemon, automatisk start vid inloggning
Comment[ta]=கேநிறுவுபவர்/கேஅலாரம் உள் நுழையும்போது தானாகவே ஒலிக்கும் டெமான் அலாரம்
Comment[tg]=Хизматгоҳҳои KAlarm якҷоя бо KDE ба кор дароварда мешавад
Comment[tr]=KAlarm alarm programı (açılışta başlar)
Comment[uk]=Автозавантаження демону нагадувань KAlarm
Comment[ven]=Mudzudzanyi wa K/Alamu ya K daemon autostart at login
Comment[vi]=KAlarm alarm daemon tự động chạy khi đăng nhập
Comment[xh]=KAlarm alarm daemon uqalo oluzenzekelayo kwindlela yokungena
Comment[xx]=xxKAlarm alarm daemon autostart at loginxx
Comment[zh_CN]=登录时自动启动 KAlarm 定时守护进程
Comment[zh_TW]=登入時自動啟動 kALARM 警示伺服程式
Comment[zu]=Umqguzeleli we alarm daemon ye K
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmdrc:General:Autostart:false
X-KDE-StartupNotify=true
