# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KAlarm Daemon
Name[bg]=Процес на KAlarm
Name[br]=Diaoul KAlarm
Name[ca]=Dimoni KAlarm
Name[cs]=KAlarm démon
Name[da]=KAlarm Dæmon
Name[de]=KAlarm Erinnerungsprogramm
Name[es]=Daemon de KAlarm
Name[et]=KAlarmi häiredeemon
Name[fr]=Démon d'alarme
Name[hu]=KAlarm szolgáltatás
Name[it]=Demone degli avvisi
Name[nn]=KAlarm-nisse
Name[pl]=Demon alarmowy
Name[pt]=Servidor do KAlarm
Name[pt_BR]=Servidor do KAlarm
Name[ru]=Демон KAlarm
Name[sl]=Demon KAlarm
Name[sr]=Демон KAlarm-а
Name[sr@Latn]=Demon KAlarm-a
Name[sv]=Alarmdemon
Name[ta]=கேஅலாரம் டெமான்
Name[tr]=KAlarm Servis Programı
Name[uk]=Даемон KAlarm
Name[xx]=xxKAlarm Daemonxx
Name[zh_CN]=KAlarm 进程
Exec=kalarmd
Icon=kalarmd
Type=Application
Terminal=false
X-DCOP-ServiceType=Unique
