# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KAlarm Daemon
Name[x-test]=xxKAlarm Daemonxx
Exec=kalarmd --autostart
Icon=kalarmd
Type=Application
Comment=KAlarm alarm daemon autostart at login
Comment[x-test]=xxKAlarm alarm daemon autostart at loginxx
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmdrc:General:Autostart:false
X-KDE-StartupNotify=true
