# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Alarm Daemon
Name[af]=Alarm Bediener
Name[ar]=مراقب Alarm
Name[bg]=Демон на алармата
Name[br]=Diaoul Alarm
Name[bs]=Alarm demon
Name[ca]=Dimoni d'alarma
Name[cs]=Alarm démon
Name[cy]=Ellyll Larwm
Name[da]=Alarmdæmon
Name[de]=Erinnerungsfunktion
Name[el]=Δαίμονας συναγερμού
Name[eo]=Alarmodemono
Name[es]=Demonio de Alarma
Name[et]=Häiredeemon
Name[eu]=Alarma Demonioa
Name[fi]=Hälytyspalvelin
Name[fr]=Démon d'alarme
Name[he]=תהליך הרקע תזכורות
Name[hi]=अलार्म डेमन
Name[hu]=Emlékeztető szolgáltatás
Name[is]=Áminningaþjónn
Name[it]=Demone degli avvisi
Name[ja]=アラームデーモン
Name[lt]=Aliarmų tarnyba
Name[lv]=Trauksmes Dēmons
Name[ms]=Daemon Jam Loceng
Name[mt]=Programm tal-allarmi
Name[nb]=Alarmnisse
Name[nl]=Alarmdaemon
Name[nn]=Alarmdemon
Name[nso]=Daemon ya Alamo
Name[pl]=Demon alarmowy
Name[pt]=Servidor de Alarme
Name[pt_BR]=Servidor de Alarme
Name[ro]=Demon de alarmare
Name[ru]=Демон будильника
Name[sk]=Alarm démon
Name[sl]=Alarmski strežnik
Name[sr]=Алармни демон
Name[sr@Latn]=Alarmni demon
Name[sv]=Alarmdemon
Name[ta]=டெமான் அலாரம்
Name[tg]=Демони соати рӯимизии зангдор
Name[th]=เซิร์ฟเวอร์ Alarm
Name[tr]=Alarm Programı
Name[uk]=Демон нагадувань
Name[xx]=xxAlarm Daemonxx
Name[zh_CN]=定时守护进程
Name[zh_TW]=警示伺服程式
Name[zu]=Alarm daemon
Exec=kalarmd
Icon=kalarmd
Type=Application
Terminal=false
X-DCOP-ServiceType=Unique
