# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KAlarm Daemon
Name[x-test]=xxKAlarm Daemonxx
Exec=kalarmd
Icon=kalarmd
Type=Application
Terminal=false
X-DCOP-ServiceType=Unique
