# KDE Config File
[Desktop Entry]
Name=KAlarm Daemon
Name[af]=KAlarm Bediener
Name[bg]=Демон на KAlarm
Name[br]=Diaoul KAlarm
Name[ca]=Dimoni KAlarm
Name[cs]=KAlarm démon
Name[da]=KAlarm Dæmon
Name[de]=KAlarm Erinnerungsprogramm
Name[el]=Δαίμονας KAlarm
Name[eo]=KAlarm-demono
Name[es]=Daemon de KAlarm
Name[et]=KAlarmi häiredeemon
Name[eu]=KAlarm deabrua
Name[fa]=شبح KAlarm
Name[fi]=Hälytyspalvelin
Name[fr]=Démon d'alarme
Name[ga]=Deamhan KAlarm
Name[gl]=Daemon de KAlarm
Name[he]=תהליך הרקע תזכורות
Name[hu]=KAlarm szolgáltatás
Name[is]=KAlarm þjónn
Name[it]=Demone degli avvisi
Name[ja]=KAlarm デーモン
Name[ka]=KAlarm დემონი
Name[kk]=KAlarm қызметі
Name[km]=ដេមិន KAlarm
Name[lt]=KAlarm tarnyba
Name[mk]=Даемон за КАларм
Name[ms]=Daemon KAlarm 
Name[nb]=KAlarm-nisse
Name[nds]=KAlarm-Dämoon
Name[ne]=केडीई संसूचक डेइमन
Name[nn]=KAlarm-nisse
Name[pl]=Demon alarmowy
Name[pt]=Servidor do KAlarm
Name[pt_BR]=Servidor do KAlarm
Name[ru]=Служба уведомлений
Name[sk]=KAlarm démon
Name[sl]=Demon KAlarm
Name[sr]=Демон KAlarm-а
Name[sr@Latn]=Demon KAlarm-a
Name[sv]=Alarmdemon
Name[ta]=கேஅலாரம் டெமான்
Name[tr]=KAlarm Servis Programı
Name[uk]=Демон KAlarm
Name[zh_CN]=KAlarm 进程
Name[zh_TW]=KAlarm 守護程式
Exec=kalarmd --autostart
Icon=kalarmd
Type=Application
Comment=KAlarm alarm daemon autostart at login
Comment[af]=Begin KAlarm bediener outomaties tydens aanteken
Comment[bg]=Автоматично стартиране на процеса на алармата KAlarm при влизане в системата
Comment[ca]=Dimoni d'inici automàtic de l'alarma KAlarm en connectar
Comment[cs]=Automatické spouštění alarmovacího démona při startu
Comment[da]=KAlarm-alarmdæmon autostart ved login
Comment[de]=Autostart des KAlarm Erinnerungsprogramms von KOrganizer bei der Anmeldung
Comment[el]=Αυτόματη εκκίνηση του δαίμονα KAlarm κατά τη σύνδεση
Comment[es]=Inicio automático al ingresar del daemon de alarma de KAlarm
Comment[et]=KAlarmi häiredeemoni automaatne käivitamine
Comment[eu]=KAlarm alarma deabrua saioa hastean automatikoki abiatzen da
Comment[fa]=آغاز خودکار هشدار KAlarm در ورود
Comment[fi]=KOrganizer/KAlarm-hälytyspalvelimen automaattikäynnistys sisäänkirjautuessa
Comment[fr]=Le démon d'alarme de KOrganizer et de KAlarm démarre automatiquement lors de la connexion
Comment[fy]=KAlarm alarmdaemon automatysk begjinne by it oanmelden
Comment[gl]=Autoinicio á entrada do daemon de KAlarm 
Comment[he]=הפעלה אוטומטית של תהליך הרקע תזכורות של KAlarm בעת ההפעלה
Comment[hu]=A KAlarm emlékeztető szolgáltatás automatikus elindítása
Comment[is]=Ræsa KAlarm áminningaþjónn sjálfkrafa við byrjun setu
Comment[it]=Avvio automatico del demone degli avvisi
Comment[ja]=KAlarm アラームデーモンのログイン時の自動起動
Comment[ka]=KAlarm მაღვიძარას დემონის ავტოდაწყება შესვლისას
Comment[kk]=KAlarm қызметі жүйеге кіргенде жегіледі
Comment[km]=ចាប់ផ្ដើម​ដេមិន​រោទ៍​របស់ KAlarm ពេល​ចូល
Comment[lt]=KOrganizer/KAlarm priminimų tarnybos automatinis paleidimas prisiregistruojant
Comment[mk]=Даемон за аларми од КАларм - автом. старт при најава
Comment[ms]= Automula daemon penggera KAlarm semasa log masuk
Comment[nb]=start alarmnisse ved innlogging
Comment[nds]=KAlarm-Dämoon bi't Anmellen automaatsch starten
Comment[ne]=लगइनमा केडीई संसूचक संसूचक डेइमन स्वत: सुरुआत हुन्छ
Comment[nl]=KAlarm alarmdaemon automatisch starten bij login
Comment[nn]=Start alarmnisse ved innlogging
Comment[pl]=Demon alarmu KOrganizera uruchamiany przy zalogowaniu
Comment[pt]=Servidor de alarme do KAlarm auto-iniciado no arranque
Comment[pt_BR]=Servidor de alarmes do KAlarm inicia automaticamente no login
Comment[ru]=Служба уведомлений KDE
Comment[sk]=Automatické spustenie kAlarm démona pri štarte
Comment[sl]=Samodejni zagon alarmskega strežnika KAlarma ob zagonu
Comment[sr]=Аутоматско покретање алармног демона KAlarm-а по пријављивању
Comment[sr@Latn]=Automatsko pokretanje alarmnog demona KAlarm-a po prijavljivanju
Comment[sv]=Kalarm-alarmdemon, automatisk start vid inloggning
Comment[ta]=உள்நுழையும்போது கேஅலாரம் அலாரம் டெமான் தானாகவே துவங்கும்
Comment[tr]=KAlarm alarm servis programı (açılışta başlar)
Comment[uk]=Автозавантаження демона нагадувань KAlarm
Comment[zh_CN]=登录时自动启动 KAlarm 定时守护进程
Comment[zh_TW]=登入時自動啟動 KAlarm 鬧鐘守護程式
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmdrc:General:Autostart:false
X-KDE-StartupNotify=true
