# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Alarms
Name[el]=Ειδοποιήσεις
Name[es]=Alarmas
Name[ga]=Aláraim
Name[ja]=アラーム
Name[kk]=Ескертулер
Name[pa]=ਅਲਾਰਮ
Name[pt]=Alarmes
Name[pt_BR]=Alarmes
Name[sv]=Alarm
Name[x-test]=xxAlarmsxx
Name[zh_TW]=鬧鐘
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=alarms
