# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Alarms
Name[es]=Alarmas
Name[x-test]=xxAlarmsxx
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=alarms
