[Desktop Entry]
Name=Alarms in Local Directory
Name[ar]=التنبيهات في الدليل المحلي
Name[be]=Каляндар у мясцовай тэчцы
Name[bg]=Аларми в локална директория
Name[bs]=Alarmi u lokalnom direktoriju
Name[ca]=Alarmes en un directori local
Name[ca@valencia]=Alarmes en un directori local
Name[cs]=Alarmy v místní složce
Name[da]=Alarmer i lokal mappe
Name[de]=Erinnerungen in lokalem Ordner
Name[el]=Συναγερμοί σε τοπικό κατάλογο
Name[en_GB]=Alarms in Local Directory
Name[es]=Alarmas en un directorio local
Name[et]=Häired kohalikus kataloogis
Name[fa]=هشدارها در فهرست راهنمای محلی
Name[fi]=Hälytykset paikallisessa kansiossa
Name[fr]=Alarmes dans un dossier local
Name[ga]=Aláraim i gComhadlann Logánta
Name[gl]=Alarmas nun directorio local
Name[hu]=Helyi mappában tárolt emlékeztetők
Name[ia]=Alarmas in directorio local
Name[it]=Avvisi in una directory locale
Name[ja]=ローカルディレクトリのアラーム
Name[kk]=Жергілікті капшықтағы ескертулер
Name[km]=ជូន​ដំណឹង​ក្នុង​ថត​មូលដ្ឋាន​​​
Name[ko]=로컬 디렉터리에 저장한 알람
Name[lt]=Priminimai vietiniame aplanke
Name[lv]=Atgādinājumi lokālā mapē
Name[mr]=स्थानिक संचयीकेतील एलार्म्स
Name[nb]=Varslinger i lokal katalog
Name[nds]=Alarms binnen lokaal Orner
Name[ne]=स्थानीय डाइरेक्टरीमा संसूचक
Name[nl]=Herinneringen in lokale map
Name[nn]=Alarmar i lokal mappe
Name[pa]=ਲੋਕਲ ਡਾਇਰੈਕਟਰੀ ਵਿੱਚ ਅਲਾਰਮ
Name[pl]=Alarmy w katalogu lokalnym
Name[pt]=Alarmes numa Pasta Local
Name[pt_BR]=Alarmes em pasta local
Name[ro]=Alarme în dosar local
Name[ru]=Напоминания в локальной папке
Name[sk]=Alarmy v lokálnom priečinku
Name[sl]=Alarmi v krajevnem imeniku
Name[sr]=Аларми у локалној фасцикли
Name[sr@ijekavian]=Аларми у локалној фасцикли
Name[sr@ijekavianlatin]=Alarmi u lokalnoj fascikli
Name[sr@latin]=Alarmi u lokalnoj fascikli
Name[sv]=Alarm i lokal katalog
Name[tr]=Yerel Dizinlerdeki Alarmlar
Name[uk]=Нагадування в локальному каталозі
Name[wa]=Xhîletes e-n on ridant coinrece
Name[x-test]=xxAlarms in Local Directoryxx
Name[zh_CN]=本地目录中的提醒事项
Name[zh_TW]=本地目錄中的鬧鐘
Comment=Provides access to an alarm calendar stored in a local directory, in which each calendar item is stored in a separate file
Comment[ar]=يوفر وصول لمنبه التقويم المحفوظ في الدليل المحلي ، بحيث كل عنصر تقويم محفوظ في ملف  منفرد
Comment[bs]=Obezbjeđuje prostup alarm kalendaru sačuvanom u lokalnom direktoriju, u kojem svaki od kalendarskih primjeraka je sačuvan u odvojenoj datoteci
Comment[ca]=Proporciona accés a un calendari d'alarmes emmagatzemat en un directori local, en el que cada element del calendari està emmagatzemat en un fitxer separat
Comment[ca@valencia]=Proporciona l'accés a un calendari d'alarmes emmagatzemat en un directori local, en el que cada element del calendari està emmagatzemat en un fitxer separat
Comment[da]=Giver adgang til en alarmkalender lagret i en lokal mappe, hvori hvert enkelt kalenderelement lagres i en seperat fil
Comment[de]=Ermöglicht den Zugriff auf einen Erinnerungen-Kalender in einem lokalen Ordner, in dem jeder Kalender-Eintrag als separate Datei gespeichert ist.
Comment[el]=Προσφέρει πρόσβαση σε ημερολόγιο συναγερμών αποθηκευμένο σε έναν τοπικό κατάλογο, στον οποίο κάθε αντικείμενο αποθηκεύεται σε ξεχωριστό αρχείο
Comment[en_GB]=Provides access to an alarm calendar stored in a local directory, in which each calendar item is stored in a separate file
Comment[es]=Provee acceso a un calendario de alarmas almacenado en un directorio local, en el cual cada elemento del calendario es almacenado en un archivo separado
Comment[et]=Võimaldab kasutada kohalikku kataloogi salvestatud häirete kalendrit, kus iga kalender on salvestatud eraldi faili
Comment[fi]=Tarjoaa pääsyn paikalliseen kansioon tallennettuun hälytyskalenteriin, jossa jokainen kalenteritietue on erillinen tiedosto
Comment[fr]=Fournit l'accès aux alarmes de calendrier stockées dans un dossier ; chaque entrée du calendrier étant stockée dans un fichier distinct
Comment[gl]=Permite acceder a un calendario de alarmas almacenado nun directorio local no que cada elemento do calendario se almacena nun ficheiro diferente
Comment[hu]=Helyi mappában tárolt emlékeztetőkhöz biztosít hozzáférést (minden bejegyzés külön fájlban található)
Comment[ia]=Forni accesso a un calendario de alarma immagazinate in un directorio  local, in le qual cata elemento de calendario es immagazinate in un file separate
Comment[it]=Consente l'accesso a degli avvisi memorizzati in una directory locale, in cui ogni voce di calendario è memorizzato in un file separato
Comment[ja]=カレンダーアイテムがそれぞれ個別のファイルに保存されているローカルディレクトリのアラームカレンダーへのアクセスを提供します
Comment[kk]=Әрбір күнтізбе оқиғасы бөлек файлда сақталған жергілікті қапшықтағы ескертулер күнтізбеге қатынау
Comment[km]=ផ្ដល់​សិទ្ធិ​ចូល​ដំណើរការ​ទៅកាន់​ប្រតិទិន​ជូន​ដំណឹង​ដែល​បាន​រក្សាទុក​នៅ​ក្នុង​ថត​មូលដ្ឋាន ដែល​ធាតុ​ប្រតិទិន​នីមួយៗ​គឺ​ត្រូវបាន​រក្សាទុក​ជា​ឯកសារ​ដាច់ដោយឡែក​ពី​គ្នា
Comment[ko]=알람 달력의 각각 달력 항목이 파일로 저장되어 있는 로컬 디렉터리에 접근합니다
Comment[lt]=Suteikia priėjimą prie priminimų kalendoriaus vietiniame aplanke, kuriame kiekvienas įvykis saugomas atskirame faile
Comment[lv]=Nodrošina piekļuvi atgādinājumu kalendāram, kas glabājas vienā lokālā mapē, katrs kalendārs atsvišķā failā
Comment[nb]=Gir tilgang til en varslingskalender lagret i en lokal mappe, der hver  kalenderoppføring er lagret i en separat fil
Comment[nds]=Stellt Togriep op en binnen en lokalen Orner wohrten Alarm-Kalenner praat, binnen den elk Kalennerindrag as enkelte Datei sekert is.
Comment[nl]=Geeft toegang naar een herinneringagenda in een lokaal opgeslagen map,waarbij iedere agenda in een apart bestand opgeslagen is
Comment[nn]=Gjev tilgang til alarmkalendrar lagra i ei lokal mappe, der kvart kalenderelement vert lagra i ei eiga fil.
Comment[pl]=Zapewnia dostęp do kalendarza alarmów przechowywanego w lokalnym katalogu, w którym każdy element kalendarza jest zapisany w osobnym pliku
Comment[pt]=Oferece o acesso a um calendário de alarmes guardado numa pasta local; cada item do calendário é guardado num ficheiro em separado
Comment[pt_BR]=Fornece acesso a um calendário de alarmes armazenado em um único arquivo local, onde cada item do calendário é armazenado em um arquivo separado
Comment[ro]=Oferă acces la un calendar de alarme stocat într-un dosar local, cu fiecare element din calendar stocat într-un fișier separat
Comment[ru]=Хранение напоминаний в отдельных файлах в локальной папке
Comment[sk]=Umožňuje prístup ku kalendáru alarmov uloženému v lokálnom adresári, v ktorom je každá položka kalendára uložená v samostatnom súbore
Comment[sl]=Omogoča dostop do koledarja z alarmi, ki so shranjeni v krajevni mapi, kjer je vsak alarm shranjen v ločeni datoteki
Comment[sr]=Омогућава приступ алармном календару смештеном у локалној фасцикли у којој је сваки календар смештен у посебан фајл
Comment[sr@ijekavian]=Омогућава приступ алармном календару смјештеном у локалној фасцикли у којој је сваки календар смештен у посебан фајл
Comment[sr@ijekavianlatin]=Omogućava pristup alarmnom kalendaru smještenom u lokalnoj fascikli u kojoj je svaki kalendar smešten u poseban fajl
Comment[sr@latin]=Omogućava pristup alarmnom kalendaru smeštenom u lokalnoj fascikli u kojoj je svaki kalendar smešten u poseban fajl
Comment[sv]=Ger tillgång till en alarmkalender lagrad i en lokal katalog, där varje kalenderobjekt är lagrat i en separat fil
Comment[tr]=Her takvim ögesinin ayrı bir dosyada depolandığı yerel bir dizinde depolanmış bir alarm takvimine erişim sağlar
Comment[uk]=Надає доступ до календаря нагадувань, який зберігається у локальному каталозі, де кожен запис календаря зберігається у окремому файлі
Comment[wa]=Dene l' accès a on calindrî di xhîletes stoké dins on ridant coinrece, ki tchaeke cayet do calindrî î est stoké dins on fitchî a pårt
Comment[x-test]=xxProvides access to an alarm calendar stored in a local directory, in which each calendar item is stored in a separate filexx
Comment[zh_CN]=提供对存储在一个本地目录中的提醒日历的访问支持，每个日历项目都存储在各自独立的文件内
Comment[zh_TW]=提供存取儲存在本地目錄中的鬧鐘行事曆的功能。每一個行事曆是單獨一個檔案
X-KDE-Library=kalarm_localdir
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=alarms
X-KDE-ResourceType=localdir
