[Desktop Entry]
Name=Alarms in Local File
Name[bg]=Аларми в локален файл
Name[ca]=Alarmes en un fitxer local
Name[cs]=Kalendář v místním souboru
Name[da]=Alarmer i lokal fil
Name[de]=Erinnerungen in lokaler Datei
Name[el]=Ειδοποιήσεις σε τοπικό αρχείο
Name[es]=Alarmas en un archivo local
Name[et]=Häired kohalikus failis
Name[fa]=هشدارها در پروندۀ محلی
Name[fi]=Hälytykset paikallisessa tiedostossa
Name[fr]=Alarmes dans un fichier local
Name[ga]=Aláraim i gComhad Logánta
Name[gl]=Alarmas en Ficheiro Local
Name[hu]=Helyi fájlban tárolt emlékeztetők
Name[it]=Promemoria in file locale
Name[ja]=ローカルファイルのアラーム
Name[kk]=Жергілікті файлдағы ескертулер
Name[km]=ជូន​ដំណឹង​ក្នុង​ឯកសារ​មូលដ្ឋាន
Name[ko]=로컬 파일에 저장한 알람
Name[lt]=Priminimai vietiniame faile
Name[lv]=Atgādinājumi lokālā failā
Name[nb]=Varslinger i lokal fil
Name[nds]=Alarms binnen lokaal Datei
Name[ne]=स्थानीय फाइलमा संसूचक
Name[nl]=Herinneringen in lokaal bestand
Name[nn]=Alarmar i lokal fil
Name[pa]=ਲੋਕਲ ਫਾਇਲ ਵਿੱਚ ਅਲਾਰਮ
Name[pl]=Alarmy w pliku lokalnym
Name[pt]=Alarmes num Ficheiro Local
Name[pt_BR]=Alarmes em arquivo local
Name[ro]=Alarme în fișier local
Name[ru]=Напоминания в локальном файле
Name[sl]=Alarmi v krajevni datoteki
Name[sv]=Alarm i lokal fil
Name[tr]=Yerel Dosyadaki Alarmlar
Name[uk]=Нагадування в локальному файлі
Name[x-test]=xxAlarms in Local Filexx
Name[zh_CN]=本地文件中的提醒事项
Name[zh_TW]=本地檔案中的鬧鐘
Comment=Provides access to an alarm calendar stored in a single local file
Comment[ca]=Proporciona l'accés a un calendari d'alarmes emmagatzemat en un fitxer local individual
Comment[da]=Giver adgang til en alarmkalender lagret i en enkelt lokal fil
Comment[de]=Ermöglicht den Zugriff auf einen Erinnerungen-Kalender in einer lokalen Datei.
Comment[el]=Προσφέρει πρόσβαση σε ημερολόγιο ειδοποιήσεων αποθηκευμένο σε ένα τοπικό αρχείο
Comment[es]=Provee acceso al calendario de alarmas almacenado en un solo archivo local
Comment[et]=Võimaldab kasutada kohalikku faili salvestatud häirete kalendrit
Comment[fr]=Fourni l'accès aux alarmes de calendrier stockées dans un unique fichier
Comment[gl]=Dá aceso a un calendario de alarmas gardado nun ficheiro local
Comment[hu]=Helyi fájlban tárolt emlékeztetőkhöz biztosít hozzáférést
Comment[it]=Consente l'accesso a dei promemoria memorizzati in un file locale
Comment[ja]=単一のローカルファイルに保存されているアラームカレンダーへのアクセスを提供します
Comment[km]=ផ្ដល់​សិទ្ធិ​ចូល​ដំណើរការ​ទៅ​ប្រតិទិន​ជូន​ដំណឹង ដែល​បាន​ទុក​នៅ​ក្នុង​ឯកសារ​មូលដ្ឋាន​ទោល
Comment[ko]=단일 로컬 파일에 저장되어 있는 알람 달력에 접근하기
Comment[lt]=Suteikia priėjimą prie priminimų kalendoriaus vietiniame faile
Comment[lv]=Nodrošina piekļuvi atgādinājumu kalendāram, kas glabājas vienā lokālā failā
Comment[nb]=Gir tilgang til en varslingskalender lagret i en enkelt lokal fil
Comment[nds]=Stellt Togriep op en binnen en enkelte lokaale Datei wohrten Alarm-Kalenner praat
Comment[nl]=Geeft toegang naar een herinneringagenda, die in een enkel lokaal bestand opgeslagen is
Comment[nn]=Gjev tilgang til alarmkalendrar lagra i lokale filer
Comment[pl]=Zapewnia dostęp do kalendarza alarmów przechowywanego w pojedyńczym pliku lokalnym
Comment[pt]=Oferece o acesso a um calendário de alarmes guardado num único ficheiro local
Comment[pt_BR]=Fornece acesso a um calendário de alarmes armazenado em um único arquivo local
Comment[ru]=Хранение напоминаний в локальном файле
Comment[sl]=Omogoča dostop do koledarja z alarmi, ki je shranjen v eni krajevni datoteki
Comment[sv]=Ger tillgång till en alarmkalender lagrad i en enda lokal fil
Comment[tr]=Tek bir yerel dosyada depolanmış bir alarm takvimine erişim sağlar
Comment[uk]=Надає доступ до календаря нагадувань, який зберігається у окремому локальному файлі
Comment[x-test]=xxProvides access to an alarm calendar stored in a single local filexx
Comment[zh_CN]=提供对存储在单个本地文件中的提醒日历的访问支持
Comment[zh_TW]=提供存取儲存在本地檔案中的鬧鐘行事曆的功能
X-KDE-Library=kalarm_local
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=alarms
X-KDE-ResourceType=file
