[Desktop Entry]
Encoding=UTF-8
Name=Alarms in Local File
Name[el]=Ειδοποιήσεις σε τοπικό αρχείο
Name[es]=Alarmas en archivo local
Name[ja]=ローカルファイルのアラーム
Name[kk]=Жергілікті файлдағы ескертулер
Name[sv]=Alarm i lokal fil
Name[x-test]=xxAlarms in Local Filexx
Name[zh_TW]=本地檔案中的鬧鐘
X-KDE-Library=kalarm_local
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=alarms
X-KDE-ResourceType=file
