[Desktop Entry]
Encoding=UTF-8
Name=Alarms in Local Directory
Name[be]=Каляндар у мясцовай тэчцы
Name[el]=Ειδοποιήσεις σε τοπικό κατάλογο
Name[es]=Alarmas en directorio local
Name[fa]=هشدارها در فهرست راهنمای محلی
Name[ja]=ローカルディレクトリのアラーム
Name[kk]=Жергілікті каталогтағы ескертулер
Name[pa]=ਲੋਕਲ ਡਾਇਰੈਕਟਰੀ ਵਿੱਚ ਅਲਾਰਮ
Name[sv]=Alarm i lokal katalog
Name[x-test]=xxAlarms in Local Directoryxx
Name[zh_TW]=本地目錄中的鬧鐘
X-KDE-Library=kalarm_localdir
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=alarms
X-KDE-ResourceType=localdir
