[Desktop Entry]
Name=Alarms in Local Directory
Name[be]=Каляндар у мясцовай тэчцы
Name[bg]=Аларми в локална директория
Name[ca]=Alarmes en un directori local
Name[da]=Alarmer i lokal mappe
Name[de]=Lokaler Ordner
Name[el]=Ειδοποιήσεις σε τοπικό κατάλογο
Name[es]=Alarmas en un directorio local
Name[et]=Häired kohalikus kataloogis
Name[fa]=هشدارها در فهرست راهنمای محلی
Name[fi]=Hälytykset paikallisessa kansiossa
Name[fr]=Alarmes dans un dossier local
Name[ga]=Aláraim i gComhadlann Logánta
Name[it]=Promemoria in una cartella locale
Name[ja]=ローカルディレクトリのアラーム
Name[kk]=Жергілікті каталогтағы ескертулер
Name[km]=ជូន​ដំណឹង​ក្នុង​ថត​មូលដ្ឋាន
Name[ko]=로컬 디렉터리에 저장한 알람
Name[lv]=Atgādinājumi lokālā mapē
Name[nb]=Varslinger i lokal katalog
Name[nds]=Alarms binnen lokaal Orner
Name[ne]=स्थानीय डाइरेक्टरीमा संसूचक
Name[nl]=Herinneringen in lokale map
Name[nn]=Alarmar i lokal mappe
Name[pa]=ਲੋਕਲ ਡਾਇਰੈਕਟਰੀ ਵਿੱਚ ਅਲਾਰਮ
Name[pl]=Alarmy w katalogu lokalnym
Name[pt]=Alarmes numa Pasta Local
Name[pt_BR]=Alarmes em Diretório Local
Name[sv]=Alarm i lokal katalog
Name[tr]=Yerel Dizindeki Alarmlar
Name[uk]=Нагадування в локальному каталозі
Name[x-test]=xxAlarms in Local Directoryxx
Name[zh_CN]=本地目录中的提醒事项
Name[zh_TW]=本地目錄中的鬧鐘
X-KDE-Library=kalarm_localdir
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=alarms
X-KDE-ResourceType=localdir
