[Desktop Entry]
Encoding=UTF-8
Name=Alarms in Remote File
Name[be]=Каляндар у аддаленым файле
Name[el]=Ειδοποιήσεις σε απομακρυσμένο αρχείο
Name[es]=Alarmas en archivo remoto
Name[fa]=هشدارها در پروندۀ دور
Name[ja]=リモートファイルのアラーム
Name[kk]=Қашықтағы файлдағы ескертулер
Name[pa]=ਰਿਮੋਟ ਫਾਇਲ ਵਿੱਚ ਅਲਾਰਮ
Name[sv]=Alarm i fjärrfil
Name[x-test]=xxAlarms in Remote Filexx
Name[zh_TW]=遠端檔案的鬧鐘
X-KDE-Library=kalarm_remote
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=alarms
X-KDE-ResourceType=remote
