[Misc]
Name=KAlarm Event Serializer
Name[en_GB]=KAlarm Event Serialiser
Name[es]=Serializador de eventos de KAlarm
Name[gl]=Serializador de Eventos KAlarm
Name[nb]=KAlarm hendelsesserialiserer
Name[nds]=KAlarm-Begeefnis-Reegmoduul
Name[pt]=Serializador de Eventos do KAlarm
Name[pt_BR]=Serializador de eventos do KAlarm
Name[sv]=Kalarm händelseserialisering
Name[tr]=KAlarm Olay Sıralandırıcı
Name[uk]=Серіалізатор подій KAlarm
Name[x-test]=xxKAlarm Event Serializerxx
Name[zh_TW]=KAlarm 事件序列器
Comment=An Akonadi serializer plugin for KAlarm events
Comment[en_GB]=An Akonadi serialiser plugin for KAlarm events
Comment[es]=Un complemento serializador de Akonadi para eventos de KAlarm
Comment[gl]=Un engadido serializador de Akonadi para os eventos de KAlarm
Comment[nb]=Et Akonadi serialiserer-programtillegg for KAlarm-hendelser
Comment[nds]=Akonadi-Inreegmoduul för KAlarm-Begeefnissen
Comment[pt]=Um 'plugin' de serialização do Akonadi para os eventos do KAlarm
Comment[pt_BR]=Um plug-in de serialização do Akonadi para eventos do KAlarm
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av Kalarm-händelser
Comment[tr]=KAlarm olayları için bir Akonadi sıralandırıcısı
Comment[uk]=Втулок серіалізації Akonadi для подій KAlarm
Comment[x-test]=xxAn Akonadi serializer plugin for KAlarm eventsxx
Comment[zh_TW]=KAlarm 事件使用的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.alarms,application/x-vnd.kde.alarms.active,application/x-vnd.kde.alarms.archived,application/x-vnd.kde.alarms.template
X-KDE-Library=akonadi_serializer_kalarm
