[Misc]
Name=KAlarm Event Serializer
Name[ca]=Serialitzador d'esdeveniments de KAlarm
Name[ca@valencia]=Serialitzador d'esdeveniments de KAlarm
Name[da]=Serieordning af KAlarm-hændelser
Name[de]=Kalarm Ereignis-Serialisierung
Name[en_GB]=KAlarm Event Serialiser
Name[es]=Serializador de eventos de KAlarm
Name[et]=KAlarmi sündmuste jadasti
Name[fr]=Sérialiseur d'évènement KAlarm
Name[gl]=Serializador de Eventos KAlarm
Name[it]=Serializzatore degli eventi di KAlarm
Name[ja]=KAlarm イベント用シリアライザ
Name[lv]=KAlarm notikumu serializētājs
Name[nb]=KAlarm hendelsesserialiserer
Name[nds]=KAlarm-Begeefnis-Reegmoduul
Name[nl]=KAlarm gebeurtenissen in volgorde zetten
Name[pt]=Serializador de Eventos do KAlarm
Name[pt_BR]=Serializador de eventos do KAlarm
Name[sv]=Kalarm händelseserialisering
Name[tr]=KAlarm Olay Sıralandırıcı
Name[uk]=Серіалізатор подій KAlarm
Name[x-test]=xxKAlarm Event Serializerxx
Name[zh_CN]=KAlarm 事件序列器
Name[zh_TW]=KAlarm 事件序列器
Comment=An Akonadi serializer plugin for KAlarm events
Comment[ca]=Un connector de serialització de l'Akonadi pels esdeveniments del KAlarm
Comment[ca@valencia]=Un connector de serialització de l'Akonadi pels esdeveniments del KAlarm
Comment[da]=Et Akonadi-plugin til serieordning af KAlarm-hændelser
Comment[de]=Akonadi-Modul zur Serialisierung von KAlarm-Ereignissen
Comment[en_GB]=An Akonadi serialiser plugin for KAlarm events
Comment[es]=Un complemento serializador de Akonadi para eventos de KAlarm
Comment[et]=Akonadi KAlarmi sündmuste jadastamisplugin
Comment[fr]=Un module externe Akonadi pour la sérialisation des évènements KAlarm
Comment[gl]=Un engadido serializador de Akonadi para os eventos de KAlarm
Comment[it]=Un'estensione di Akonadi per la serializzazione di eventi di KAlarm
Comment[ja]=KAlarm のイベントのための Akonadi シリアライザプラグイン
Comment[lv]=Akonadi KAlarm notikumu serializēšanas spraudnis
Comment[nb]=Et Akonadi serialiserer-programtillegg for KAlarm-hendelser
Comment[nds]=Akonadi-Inreegmoduul för KAlarm-Begeefnissen
Comment[nl]=Een Akonadi-plugin voor het in volgorde zetten van KAlarm gebeurtenissen
Comment[pt]=Um 'plugin' de serialização do Akonadi para os eventos do KAlarm
Comment[pt_BR]=Um plug-in de serialização do Akonadi para eventos do KAlarm
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av Kalarm-händelser
Comment[tr]=KAlarm olayları için bir Akonadi sıralandırıcısı
Comment[uk]=Додаток серіалізації Akonadi для подій KAlarm
Comment[x-test]=xxAn Akonadi serializer plugin for KAlarm eventsxx
Comment[zh_CN]=用于操作 KAlarm 事件的 Akonadi 序列插件
Comment[zh_TW]=KAlarm 事件使用的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.alarms,application/x-vnd.kde.alarms.active,application/x-vnd.kde.alarms.archived,application/x-vnd.kde.alarms.template
X-KDE-Library=akonadi_serializer_kalarm
