[Desktop Entry]
Name=KAlarm Active Alarms
Name[ca]=Alarmes actives del KAlarm
Name[en_GB]=KAlarm Active Alarms
Name[es]=Alarmas activas en KAlarm
Name[et]=KAlarmi aktiivsed häired
Name[fr]=Alarmes actives KAlarm
Name[gl]=Alarmas activas do KAlarm
Name[nb]=KAlarm aktive varslinger
Name[nds]=Aktiev KAlarm-Alarms
Name[pt]=Alarmes Activos do KAlarm
Name[pt_BR]=Alarmes ativos do KAlarm
Name[sv]=Aktiva alarm i Kalarm
Name[tr]=KAlarm Etkin Alarmlar
Name[uk]=Задіяні нагадування KAlarm
Name[x-test]=xxKAlarm Active Alarmsxx
Name[zh_TW]=KAlarm 作用中鬧鐘
Comment=Loads data from a KAlarm active alarm calendar file
Comment[ca]=Carrega dades des d'un fitxer de calendari d'alarmes actives del KAlarm
Comment[en_GB]=Loads data from a KAlarm active alarm calendar file
Comment[es]=Carga datos de un archivo de calendario de alarmas activas de KAlarm
Comment[et]=Andmete laadimine KAlarmi aktiivsete häirete kalendrifailist
Comment[fr]=Charge les données d'une alarme active KAlarm depuis un fichier d'agenda
Comment[gl]=Carrega datos desde un ficheiro de calendario de alarmas activas do KAlarm
Comment[nb]=Laster data fra en KAlarm kalenderfil med aktive varslinger
Comment[nds]=Laadt Daten ut en KAlarm-Kalennerdatei för aktiev Alarms
Comment[nl]=Laadt gegevens van een KAlarm actieve herinneringagendabestand
Comment[pt]=Carrega os dados de um ficheiro de calendário de alarmes activos do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de calendário de alarmes ativos do KAlarm
Comment[sv]=Laddar data från en Kalarm-kalenderfil med aktiva alarm
Comment[tr]=KAlarm etkin alarm takvim dosyasından veri yükler
Comment[uk]=Завантажує дані з файла календаря задіяних нагадувань KAlarm
Comment[x-test]=xxLoads data from a KAlarm active alarm calendar filexx
Comment[zh_TW]=從 KAlarm 作用中鬧鐘行事曆檔載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarms.active
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_active_resource
