[Desktop Entry]
Name=KAlarm Active Alarms
Name[gl]=Alarmas activas do KAlarm
Name[nds]=Aktiev KAlarm-Alarms
Name[pt]=Alarmes Activos do KAlarm
Name[pt_BR]=Alarmes ativos do KAlarm
Name[sv]=Aktiva alarm i Kalarm
Name[uk]=Задіяні нагадування KAlarm
Name[x-test]=xxKAlarm Active Alarmsxx
Comment=Loads data from a KAlarm active alarm calendar file
Comment[gl]=Carrega datos desde un ficheiro de calendario de alarmas activas do KAlarm
Comment[nds]=Laadt Daten ut en KAlarm-Kalennerdatei för aktiev Alarms
Comment[pt]=Carrega os dados de um ficheiro de calendário de alarmes activos do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de calendário de alarmes ativos do KAlarm
Comment[sv]=Laddar data från en Kalarm-kalenderfil med aktiva alarm
Comment[uk]=Завантажує дані з файла календаря задіяних нагадувань KAlarm
Comment[x-test]=xxLoads data from a KAlarm active alarm calendar filexx
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarms.active
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_active_resource
