[Desktop Entry]
Name=KAlarm Calendar File
Name[en_GB]=KAlarm Calendar File
Name[es]=Archivo de calendario de KAlarm
Name[et]=KAlarmi kalendrifail
Name[gl]=Ficheiro de calendario de KAlarm
Name[it]=Calendario KAlarm
Name[nb]=KAlarm kalenderfil
Name[nds]=KAlarm-Kalennerdatei
Name[nl]=KAlarm-agendabestand
Name[pt]=Ficheiro de Calendário do KAlarm
Name[pt_BR]=Arquivo de calendário do KAlarm
Name[sv]=Kalarm-kalenderfil
Name[tr]=KAlarm Takvim Dosyası
Name[uk]=Файл календаря KAlarm
Name[x-test]=xxKAlarm Calendar Filexx
Name[zh_TW]=KAlarm 行事曆檔案
Comment=Loads data from a KAlarm calendar file
Comment[en_GB]=Loads data from a KAlarm calendar file
Comment[es]=Carga datos de un archivo de calendario de KAlarm
Comment[et]=Andmete laadimine KAlarmi kalendrifailist
Comment[gl]=Carrega datos desde un ficheiro de calendario do KAlarm
Comment[nb]=Laster data fra en KAlarm kalenderfil
Comment[nds]=Laadt Daten ut en KAlarm-Kalennerdatei
Comment[nl]=Laadt gegevens van een KAlarm-agendabestand
Comment[pt]=Carrega os dados de um ficheiro de calendário do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de calendário do KAlarm
Comment[sv]=Laddar data från en Kalarm-kalenderfil
Comment[tr]=Kalarm takvim dosyasından veri yükler
Comment[uk]=Завантажує дані з файла календаря KAlarm
Comment[x-test]=xxLoads data from a KAlarm calendar filexx
Comment[zh_TW]=從 KAlarm 行事曆檔載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarms,application/x-vnd.kde.alarms.active,application/x-vnd.kde.alarms.archived,application/x-vnd.kde.alarms.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_resource
