[Desktop Entry]
Name=KAlarm Archived Alarms
Name[en_GB]=KAlarm Archived Alarms
Name[et]=KAlarmi aegunud häired
Name[gl]=Alarmas arquivadas do KAlarm
Name[nb]=KAlarm arkiverte varslinger
Name[nds]=Aflopen KAlarm-Alarms
Name[nl]=KAlarm verlopen herinneringen
Name[pt]=Alarmes Arquivados do KAlarm
Name[pt_BR]=Alarmes arquivados do KAlarm
Name[sv]=Arkiverade alarm i Kalarm
Name[uk]=Застарілі нагадування KAlarm
Name[x-test]=xxKAlarm Archived Alarmsxx
Comment=Loads data from a KAlarm archived alarm calendar file
Comment[en_GB]=Loads data from a KAlarm archived alarm calendar file
Comment[et]=Andmete laadimine KAlarmi aegunud häirete kalendrifailist
Comment[gl]=Carrega datos desde un ficheiro de calendario de alarmas arquivadas do KAlarm
Comment[nb]=Laster data fra en KAlarm kalenderfil med arkiverte varslinger
Comment[nds]=Laadt Daten ut en KAlarm-Kalennerdatei för aflopen Alarms
Comment[nl]=Laadt gegevens van een KAlarm verlopen herinnering-agendabestand
Comment[pt]=Carrega os dados de um ficheiro de calendário de alarmes arquivados do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de calendário de alarmes arquivados do KAlarm
Comment[sv]=Laddar data från en Kalarm-kalenderfil med arkiverade alarm
Comment[uk]=Завантажує дані з файла календаря застарілих нагадувань KAlarm
Comment[x-test]=xxLoads data from a KAlarm archived alarm calendar filexx
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarms.archived
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_archived_resource
