[Desktop Entry]
Name=KAlarm Archived Alarms
Name[ca]=Alarmes expirades del KAlarm
Name[ca@valencia]=Alarmes expirades del KAlarm
Name[da]=Arkiverede alarmer i KAlarm
Name[de]=KAlarm Abgelaufene Erinnerungen
Name[el]=Αρχειοθετημένες ειδοποιήσεις του KAlarm
Name[en_GB]=KAlarm Archived Alarms
Name[es]=Alarmas archivadas de KAlarm
Name[et]=KAlarmi aegunud häired
Name[fi]=KAlarmin arkistoidut hälytykset
Name[fr]=Alarmes KAlarm archivées
Name[gl]=Alarmas arquivadas do KAlarm
Name[it]=Avvisi archiviati di KAlarm
Name[ja]=KAlarm アーカイブのアラーム
Name[km]=ការ​ជូន​ដំណឹង​ប័ណ្ណសារ​របស់ KAlarm
Name[lt]=KAlarm archyvuoti priminimai
Name[lv]=KAlarm arhivētie atgādinājumi
Name[nb]=KAlarm arkiverte varslinger
Name[nds]=Aflopen KAlarm-Alarms
Name[nl]=KAlarm verlopen herinneringen
Name[nn]=Arkiverte KAlarm-alarmar
Name[pl]=Zarchiwizowane alarmy KAlarm
Name[pt]=Alarmes Arquivados do KAlarm
Name[pt_BR]=Alarmes arquivados do KAlarm
Name[sl]=Arhivirani alarmi iz KAlarma
Name[sv]=Arkiverade alarm i Kalarm
Name[tr]=KAlarm Arşivlenmiş Alarmlar
Name[uk]=Застарілі нагадування KAlarm
Name[x-test]=xxKAlarm Archived Alarmsxx
Name[zh_CN]=KAlarm 已归档的提醒
Name[zh_TW]=KAlarm 已歸檔鬧鐘
Comment=Loads data from a KAlarm archived alarm calendar file
Comment[ca]=Carrega dades des d'un fitxer de calendari d'alarmes expirades del KAlarm
Comment[ca@valencia]=Carrega dades des d'un fitxer de calendari d'alarmes expirades del KAlarm
Comment[da]=Indlæser data fra en kalenderfil med arkiverede alarmer i KAlarm
Comment[de]=Lädt Daten aus einer Kalenderdatei mit abgelaufenen Erinnerungen von KAlarm
Comment[el]=Φόρτωση δεδομένων από μιά αρχειοθετημένη ειδοποίηση του KAlarm στο αρχείο του ημερολογίου
Comment[en_GB]=Loads data from a KAlarm archived alarm calendar file
Comment[es]=Carga datos de un archivo de calendario de alarmas archivadas de KAlarm
Comment[et]=Andmete laadimine KAlarmi aegunud häirete kalendrifailist
Comment[fi]=Noutaa tietoa KAlarmin arkistoitujen hälytysten kalenteritiedostosta
Comment[fr]=Charge les données d'une alarme archivée KAlarm depuis un fichier d'agenda
Comment[gl]=Carga datos desde un ficheiro de calendario de alarmas arquivadas do KAlarm
Comment[it]=Carica dati da un calendario per avvisi archiviati di KAlarm
Comment[ja]=KAlarm のアーカイブされたアラームのカレンダーファイルからデータを読み込みます
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ​ប្រតិទិន​ជូន​ដំណឹង​ប័ណ្ណសារ​របស់ KAlarm
Comment[lv]=Ielādē datus no KAlarm arhivēto atgādinājumu kalendāra faila
Comment[nb]=Laster data fra en KAlarm kalenderfil med arkiverte varslinger
Comment[nds]=Laadt Daten ut en KAlarm-Kalennerdatei för aflopen Alarms
Comment[nl]=Laadt gegevens van een KAlarm verlopen herinnering-agendabestand
Comment[nn]=Lastar data frå ei KAlarm-kalenderfil med arkiverte alarmar
Comment[pl]=Wczytuje dane z pliku kalendarza z zarchiwizowanymi alarmami KAlarm
Comment[pt]=Carrega os dados de um ficheiro de calendário de alarmes arquivados do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de calendário de alarmes arquivados do KAlarm
Comment[sl]=Naloži podatke iz koledarske datoteke z arhiviranimi alarmi iz KAlarma
Comment[sv]=Laddar data från en Kalarm-kalenderfil med arkiverade alarm
Comment[tr]=KAlarm arşivlenmiş alarm takvim dosyasından veri yükler
Comment[uk]=Завантажує дані з файла календаря застарілих нагадувань KAlarm
Comment[x-test]=xxLoads data from a KAlarm archived alarm calendar filexx
Comment[zh_CN]=从 KAlarm 已归档的提醒日历文件载入数据
Comment[zh_TW]=從 KAlarm 已歸檔鬧中行事曆檔載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarms.archived
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_archived_resource
