[Desktop Entry]
Name=KAlarm Calendar File
Name[nb]=KAlarm kalenderfil
Name[nds]=KAlarm-Kalennerdatei
Name[pt]=Ficheiro de Calendário do KAlarm
Name[pt_BR]=Arquivo de calendário do KAlarm
Name[sv]=Kalarm kalenderfil
Name[uk]=Файл календаря KAlarm
Name[x-test]=xxKAlarm Calendar Filexx
Name[zh_TW]=KAlarm 行事曆檔案
Comment=Loads data from a KAlarm calendar file
Comment[nb]=Laster data fra en KAlarm kalenderfil
Comment[nds]=Laadt Daten ut en KAlarm-Kalennerdatei
Comment[pt]=Carrega os dados de um ficheiro de calendário do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de calendário do KAlarm
Comment[sv]=Laddar data från en Kalarm kalenderfil
Comment[uk]=Завантажує дані з файла календаря KAlarm
Comment[x-test]=xxLoads data from a KAlarm calendar filexx
Comment[zh_TW]=從 KAlarm 行事曆檔載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm

X-Akonadi-MimeTypes=application/x-vnd.akonadi.kalarm-calendar,application/x-vnd.akonadi.kalarm-calendar.active,application/x-vnd.akonadi.kalarm-calendar.archived,application/x-vnd.akonadi.kalarm-calendar.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_resource
