[Desktop Entry]
Name=KAlarm Templates
Name[en_GB]=KAlarm Templates
Name[gl]=Modelos do KAlarm
Name[nb]=KAlarm-maler
Name[nds]=KAlarm-Vörlagen
Name[pt]=Modelos do KAlarm
Name[pt_BR]=Modelos do KAlarm
Name[sv]=Mallar i Kalarm
Name[uk]=Шаблони KAlarm
Name[x-test]=xxKAlarm Templatesxx
Comment=Loads data from a KAlarm alarm template file
Comment[en_GB]=Loads data from a KAlarm alarm template file
Comment[gl]=Carrega datos desde un ficheiro de de modelos de alarma do KAlarm
Comment[nb]=Laster data fra en KAlarm kalenderfil med varslingsmaler
Comment[nds]=Laadt Daten ut en KAlarm-Alarmvörlagendatei
Comment[nl]=Laadt gegevens van een KAlarm herinneringsjabloonbestand
Comment[pt]=Carrega os dados de um ficheiro-modelo de alarmes do KAlarm
Comment[pt_BR]=Carrega os dados de um arquivo de modelos de alarme do KAlarm
Comment[sv]=Laddar data från en Kalarm-fil med alarmmallar
Comment[uk]=Завантажує дані з файла шаблонів нагадувань KAlarm
Comment[x-test]=xxLoads data from a KAlarm alarm template filexx
Type=AkonadiResource
Exec=akonadi_kalarm_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarms.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_template_resource
